<table
   xmlns="http://www.w3.org/1999/xhtml"
   xmlns:cps="http://cps-cms.org/ns/theme"
   cellpadding="0"
   cellspacing="0"
   summary="Header"
   style="margin-left:auto;margin-right:auto;height:10px;width:100%;"
   class="colorHeadercandybarbackground">
      <tr>
        <td valign="top"
            style="width:5%"
            class="shape colorHeadersideleft"></td>
        <td valign="top"
            style="width:90%">
          <div style=""
               class="shape color">
            <table summary="header_container"
                   width="100%"
                   cellpadding="0"
                   cellspacing="0"
                   class="shape color">
              <tr>
                <td valign="top">
                  <div style="text-align:left;padding:0px">
                    <div style="text-align: left;">
                      <a href="cps://"
                         title="Logo">
                        <img src="/cps/portal_themes/default/Front/header/cell_header_container/portal_box_logo/image"
                             width="180"
                             height="90"
                             alt="CPS logo" />
                      </a>
                    </div>
                  </div>
                </td>
                <td valign="top">
                  <div style="text-align:right;padding:0px">
                    <div class="fontColordefaultnovisitedlinks fontShapemini"
                         style="text-align: right;">
                      <div cps:slot="search">
                        <div style="padding:8px 15px 0px 27px;"
                             cps:portlet="frame">
                          <div cps:remove="True"
                               cps:portlet="body">Here is the portlet
                               body</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="text-align:right;padding:3px 5px 0px 0px">
                    <div class="fontColordefaultnovisitedlinks fontShapemini"
                         style="text-align: right;">
                      <div cps:slot="user_actions">
                        <div style="padding:5px 0px 0px 0px;"
                             cps:portlet="frame">
                          <div class="portalTabPortalTabStyleuseractions">
                            <div class="cpsskinsHBox body">
                              <div cps:remove="True"
                                   cps:portlet="body">Here is the portlet
                                   body</div>
                            </div>
                            <div style="clear:both"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="text-align:right;padding:10px 5px 0px 10px">
                    <div class="fontColordefaultfontcolors fontShapeaverage"
                         style="text-align: right;">
                      <div cps:slot="portal_tabs">
                        <div class="portalTabTabStyle"
                             cps:portlet="frame">
                          <div class="cpsskinsHBox body">
                            <div cps:remove="True"
                                 cps:portlet="body">Here is the portlet
                                 body</div>
                          </div>
                          <div style="clear:both"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td valign="top"
            style="width:5%"
            class="shape colorHeadersideright"></td>
      </tr>
    </table>
