<table
   xmlns="http://www.w3.org/1999/xhtml"
   xmlns:cps="http://cps-cms.org/ns/theme"
   cellpadding="0"
   cellspacing="0"
   summary="Footer"
   style="margin-left:auto;margin-right:auto;height:80px;width:100%;"
   class="colorFootergradient">
      <tr>
        <td valign="top"
            style="width:5%"
            class="shape colorMainsideleft"></td>
        <td valign="top"
            style="width:90%">
          <div style="padding: 10px 0px 0px 0px">
            <div style="text-align: center;"
                 class="colorfontcolorgray fontColormini fontShapemini">
              <div cps:isolated-portlet="portlet_text_powered_by"
                   cps:remove="t">
                <div class=""
                     cps:portlet="frame">
                  <div cps:remove="True"
                       cps:portlet="body">Here is the portlet body</div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;"
               class="fontColordefaultfontcolors fontShapeaverage">
            <div style="text-align:center; padding:0">
              <div cps:slot="conformance_statement">
                <div style="padding:0px 0px 15px 0px;"
                     cps:portlet="frame">
                  <div class="cpsskinsBox">
                    <div class="body"
                         style="border: none">
                      <div cps:remove="True"
                           cps:portlet="body">Here is the portlet body</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td valign="top"
            style="width:5%"
            class="shape colorMainsideright"></td>
      </tr>
    </table>
