<head xmlns="http://www.w3.org/1999/xhtml">
    <!-- Shortcut icon -->
    <link rel="icon"
          href="/cps/portal_themes/default/icons/cps_favicon_4.png"
          type="image/png" />
    <link rel="shortcut icon"
          href="/cps/portal_themes/default/icons/cps_favicon_4.png"
          type="image/png" />
    <!-- CSS1 -->
    <link rel="Stylesheet"
          type="text/css"
          href="/cps/cpsskins_common.css" />
    <link rel="Stylesheet"
          type="text/css"
          href="/cps/portal_themes/default/renderCSS.css" />
    <link rel="Stylesheet"
          type="text/css"
          href="/style/designer_default.css" />
    <!-- CSS2 -->
    <style type="text/css"
           media="all">@import url(/cps/cpsskins_common-css2.css);</style>
</head>
