/* Elements that used to be handled by cpsskins */
.portalTabTabStyle ul.cpsskinsMenu li.tab_sections {
background:transparent url(/backgrounds/tab_yellow_right.png) no-repeat scroll right top;
border-bottom:1px solid #BCBCBC;
}

.portalTabTabStyle ul.cpsskinsMenu li.tab_sections a {
background:transparent url(/backgrounds/tab_yellow_left.png) no-repeat scroll left top;
}

.portalTabTabStyle ul.cpsskinsMenu li.tab_workspaces {
background: url(/backgrounds/tab_blue_right.png) no-repeat scroll right top;
border-bottom:1px solid #BCBCBC;
}

.portalTabTabStyle ul.cpsskinsMenu li.tab_workspaces a {
background: url(/backgrounds/tab_blue_left.png) no-repeat scroll left top;
}

.portalTabTabStyle ul.cpsskinsMenu li.tab_members {
background: url(/backgrounds/tab_red_right.png) no-repeat scroll right top;
border-bottom:1px solid #BCBCBC;
}

.portalTabTabStyle ul.cpsskinsMenu li.tab_members a {
background: url(/backgrounds/tab_red_left.png) no-repeat scroll left top;
}

